// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        transition: all ease 300ms;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    justify-content: start;
    width: 100%;
    border-radius: 0;
    padding: 11px 16px;

    &:hover {
        background-color: rgba(35, 22, 22, 0.03);
    }
}
